<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DistanceViewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B90FE50C1CBEBA7200462602</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B90FE5201CBEBA7200462602</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B90FE52B1CBEBA7200462602</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
